.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: #fcbcb87e !important;
    cursor: pointer !important;
    visibility: visible !important;
    /* transition: visibility 1s, opacity 1s linear !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 70px !important;
    color: white;
}

.my-overlay-remove{
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: #fcbcb87e !important;
    cursor: pointer !important;
    visibility: visible !important;
    /* transition: visibility 1s, opacity 1s linear !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
    animation: fadeOut 150ms;
    -webkit-animation: fadeOut 150ms;
    -moz-animation: fadeOut 150ms;
}

.my-overlay-remove i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 70px !important;
    color: white;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}