<div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-7" style="text-align:right">
        <input [(ngModel)]="search" class="form-control form-control-lg" type="text" placeholder="Type Your Favorite Food or Restaurant" ngModel>
    </div>
    <div class="col-1">
        <button class="btn btn-lg" style="background-color:#efa7a7; color:white; font-weight: bold;" (click)="searchFood(type,search)">
            Find
        </button>
    </div>
    <div class="col-2"></div>
</div>
<div class="row justify-content-center">
    <div class="form-check form-check-inline">
        <input ngModel [(ngModel)]="type" class="form-check-input" type="radio" name="foodOrRestaurant" id="foodOrRestaurant3" value="all">
        <label class="form-check-label" for="foodOrRestaurant3">
            All
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input ngModel [(ngModel)]="type" class="form-check-input" type="radio" name="foodOrRestaurant" id="foodOrRestaurant2" value="restaurant">
        <label class="form-check-label" for="foodOrRestaurant1">
            By Restaurant
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input ngModel [(ngModel)]="type" class="form-check-input" style="background-color: #efa7a7;" type="radio" name="foodOrRestaurant" id="foodOrRestaurant1" value="food" >
        <label class="form-check-label" for="foodOrRestaurant1">
            By Food
        </label>
    </div>
    
</div>

