.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
}
.full {
    color: #ff9c95;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ff9c95;
}